@import './base/setting';
@import './base/base';

//Tmp Style
.cont{
    display: flex;
    background: white;
    margin: 30px 0;
    justify-content: space-around;
}

.cont.red{
    background: greenyellow;
    flex-direction: column;
}
 