// rem
html{
    font-size: 62.5%;
}

body{
    font-family: Montserrat,Arial, sans-serif;
     font-size: $m-size;
     background-color: #eee;
}

 button{
     cursor: pointer;
 }

 button:disabled{
     cursor: default;
 }
 